<ion-view class="learn-view" cache-view="false">
  <ion-header-bar class="learn-header">
    <div class="buttons">
      <button class="button button-clear skip-button" ng-show="show_skip_button" ng-click="skipIntro()">Skip</button>
    </div>
  </ion-header-bar>
  <ion-content class="learn-content" has-bouncing="false">
    <div class="row slides-row">
      <div class="col">
        <ion-slide-box class="learn-slider" ng-class="{'hide-pager':show_call_to_action_button}" show-pager="true" delegate-handle="getting-started-slides" pager-click="pagerClicked(index)" on-slide-changed="slideChanged($index)">
          <ion-slide>
            <section class="slide-learn learn-sub-view" ng-include="'views/getting_started/slide-1.html'"></section>
          </ion-slide>
          <ion-slide>
            <section class="slide-questions getting-started-sub-view" ng-include="'views/getting_started/slide-2.html'"></section>
          </ion-slide>
          <ion-slide>
            <section class="slide-pick-categories getting-started-sub-view" ng-include="'views/getting_started/slide-3.html'"></section>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>
    <div class="row actions-row" ng-show="show_call_to_action_button">
      <div class="col">
        <a class="button button-full button-assertive" ui-sref="auth.register">Sign Up</a>
      </div>
    </div>
  </ion-content>
</ion-view>


<!-- $templateCache.put("views/getting_started/learn.html","<ion-view class=\"learn-view\" cache-view=\"false\"> <ion-header-bar class=\"learn-header\">    <div class=\"buttons\">     <button class=\"button button-clear skip-button\" ng-show=\"show_skip_button\" ng-click=\"skipIntro()\">Skip</button>\n    </div>\n  </ion-header-bar>\n  <ion-content class=\"learn-content\" has-bouncing=\"false\">    <div class=\"row slides-row\">    <div class=\"col\"> <ion-slide-box class=\"learn-slider\" ng-class=\"{'hide-pager':show_call_to_action_button}\" show-pager=\"true\" delegate-handle=\"getting-started-slides\" pager-click=\"pagerClicked(index)\" on-slide-changed=\"slideChanged($index)\">    <ion-slide>   <section class=\"slide-learn learn-sub-view\" ng-include=\"'views/getting_started/slide-1.html'\"></section>\n     </ion-slide>\n <ion-slide>      <section class=\"slide-questions getting-started-sub-view\" ng-include=\"'views/getting_started/slide-2.html'\"></section>\n     </ion-slide>\n      <ion-slide>      <section class=\"slide-pick-categories getting-started-sub-view\" ng-include=\"'views/getting_started/slide-3.html'\"></section>\n </ion-slide>\n  </ion-slide-box>\n      </div>\n    </div>\n    <div class=\"row actions-row\" ng-show=\"show_call_to_action_button\">     <div class=\"col\"> <a class=\"button button-full action-button\" ui-sref=\"auth.register\">Sign Up</a>\n     </div>\n    </div>\n  </ion-content>\n </ion-view>\n"); -->
