<div class="row question-row">
  <div class="col">
    <h2 class="question-title">What are you browsing for?</h2>
    <ion-list class="question-options">
      <ion-radio ng-model="browsing" ng-value="'Festivals'">Festivals</ion-radio>
      <ion-radio ng-model="browsing" ng-value="'House Parties'">House Parties</ion-radio>
      <ion-radio ng-model="browsing" ng-value="'Poetry & Spoken Word'">Poetry & Spoken Word</ion-radio>
      <ion-radio ng-model="browsing" ng-value="'Football'">Football</ion-radio>
      <ion-radio ng-model="browsing" ng-value="'Concerts'">Concerts</ion-radio>
      <ion-radio ng-model="browsing" ng-value="'Sightseeing'">Sightseeing</ion-radio>
      <ion-radio ng-model="browsing" ng-value="'Homecoming'">Homecoming</ion-radio>
    </ion-list>
  </div>
</div>
