<ion-view class="walkthrough-learn-view">
<div class="row question-row">
  <div class="col">
    <h2 class="question-title">Pick categories to follow</h2>
    <ion-scroll class="question-options-outer" direction="y">
      <ion-list class="question-options">
        <custom-checkbox ng-model="pick_categories.social_events" title="Social Events">
          <div class="category-item-wrapper">
            <div class="category-item-content" ng-init="bg_img = './img/feeds/social_event.jpg'">
              <div multi-bg="[bg_img]" interval="3000" helper-class="category-with-image">
              </div>
            </div>
          </div>
        </custom-checkbox>
        <custom-checkbox title="Parties" ng-model="pick_categories.parties">
          <div class="category-item-wrapper">
            <div class="category-item-content" ng-init="bg_img = './img/feeds/demo.jpg'">
              <div multi-bg="[bg_img]" interval="3000" helper-class="category-with-image">
              </div>
            </div>
          </div>
        </custom-checkbox>
        <custom-checkbox title="Art & Theatre" ng-model="pick_categories.art_theatre">
          <div class="category-item-wrapper">
            <div class="category-item-content" ng-init="bg_img = './img/feeds/art_theatre.jpg'">
              <div multi-bg="[bg_img]" interval="3000" helper-class="category-with-image">
              </div>
            </div>
          </div>
        </custom-checkbox>
        <custom-checkbox title="Sports" ng-model="pick_categories.sports">
          <div class="category-item-wrapper">
            <div class="category-item-content" ng-init="bg_img = './img/feeds/sports.jpg'">
              <div multi-bg="[bg_img]" interval="3000" helper-class="category-with-image">
              </div>
            </div>
          </div>
        </custom-checkbox>
        <custom-checkbox title="Music" ng-model="pick_categories.music">
          <div class="category-item-wrapper">
            <div class="category-item-content" ng-init="bg_img = './img/feeds/music.jpg'">
              <div multi-bg="[bg_img]" interval="3000" helper-class="category-with-image">
              </div>
            </div>
          </div>
        </custom-checkbox>
        <custom-checkbox title="Popular" ng-model="pick_categories.popular">
          <div class="category-item-wrapper">
            <div class="category-item-content" ng-init="bg_img = './img/feeds/popular.jpg'">
              <div multi-bg="[bg_img]" interval="3000" helper-class="category-with-image">
              </div>
            </div>
          </div>
        </custom-checkbox>
        <custom-checkbox title="Tourists" ng-model="pick_categories.tourists">
          <div class="category-item-wrapper">
            <div class="category-item-content" ng-init="bg_img = './img/feeds/tourists.jpg'">
              <div multi-bg="[bg_img]" interval="3000" helper-class="category-with-image">
              </div>
            </div>
          </div>
        </custom-checkbox>
        <custom-checkbox title="College" ng-model="pick_categories.college">
          <div class="category-item-wrapper">
            <div class="category-item-content" ng-init="bg_img = './img/feeds/college.jpg'">
              <div multi-bg="[bg_img]" interval="3000" helper-class="category-with-image">
              </div>
            </div>
          </div>
        </custom-checkbox>
      </ion-list>
    </ion-scroll>
  </div>
</div>
</ion-view>
