<div class="row images-row">
  <div class="col">
    <div class="illustration-container">
      <pre-img ratio="_21_13" helper-class="square-image">
        <img class="illustration-image" ng-src="./img/profile.jpg" spinner-on-load/>
      </pre-img>
    </div>
  </div>
</div>
<div class="row copy-row">
  <div class="col">
    <h1 class="welcome-title">Welcome to DMV Social!</h1>
    <p class="welcome-paragraph">We are an events platform dedicated to bringing all events and activities in the DMV together in one place. Through our mobile app, we enable people all over the world to create, discover, share and register for events.</p>
  </div>
</div>


<!--$templateCache.put("views/getting_started/slide-1.html","<div class=\"row images-row\">  <div class=\"col\">   <div class=\"illustration-container\"> <pre-img ratio=\"_21_13\" helper-class=\"square-image\">     <img class=\"illustration-image\" ng-src=\"./img/profile.jpg\" spinner-on-load/>\n     </pre-img>\n    </div>\n  </div>\n </div>\n <div class=\"row copy-row\">  <div class=\"col\">   <h1 class=\"welcome-title\">Welcome to DMV Social!</h1>\n    <p class=\"welcome-paragraph\">We are an events platform dedicated to bringing all events and activities in the DMV together in one place. Through our mobile app, we enable people all over the world to create, discover, share and register for events.</p>\n  </div>\n </div>\n"); -->
