<ion-view class="walkthrough-view" cache-view="false">
  	<div style="border-radius: 10px;" width="1030" length="2200" ng-src="img/bg-gif.jpg"></div>
	  <ion-content scroll="false">
    <div class="top-content row">
    </div>
    <div class="bottom-content row">
        <a class="button button-block get-started-button" ui-sref="intro.walkthrough-learn">
          Get Started
        </a>
        <a class="button button-block button-clear auth-button" ui-sref="intro.login">
          Already have an account?
        </a>
    </div>
  </ion-content>
</ion-view>
