<ion-view class="profile-view">
  <ion-nav-title>
    <span>Profile</span>
  </ion-nav-title>
  <ion-content>
    <div class="top-content row">
      <div class="profile-container">
        <div class="user-image-container">
          <pre-img ratio="_1_1" helper-class="rounded-image">
            <img class="user-image" ng-src="img/feeds/profile.png" spinner-on-load>
          </pre-img>
        </div>
    </div>
      <div class="user-background-image-outer">
        <div multi-bg="[image]"></div>
        </div>
    </div>
    <div class="bottom-content">
      <div class="user-bio">
      <p>Party Seeker. Adventurist. Promoter.</p>
      </div>
    </div>
    <button ng-click="logOut()" class="button button-full button-assertive">Logout</button>
  </ion-content>
</ion-view>
