<ion-view class="forgot-password-view auth-view" cache-view="false">
  <ion-nav-view class="auth-outer">
  	<div style="border-radius: 10px;" width="600" length="800" ng-src="img/bg-gif.jpg"></div>
  	<!-- <div multi-bg="['img/bg-img.jpg']"></div> -->
  </ion-nav-view>

  <ion-content scroll="false">
    <div class="row">
    <div class="col col-center">
    <div class="card forgot-password-container">
     <form name="forgotForm" novalidate ng-submit="forgotForm.$valid && resetpassword(user)">
      <div class="item item-body">

      <label class="item item-input item-floating-label" ng-class="{ 'has-error' : forgotForm.txtemail.$invalid && forgotForm.$submitted }">
          <span class="input-label"> Email </span>
          <input name="txtemail" ng-model="user.email" placeholder="Email" type="email" required>
        </label>

      <div class="form-errors" ng-messages="forgotForm.txtemail.$error" ng-if="forgotForm.$submitted">
        <div class="form-error" ng-message="required">Email required</div>
        <div class="form-error" ng-message="email"> This field must be an email </div>
      </div>
      <div class="padding-top">
      <input type="submit" value="Reset my password" class="button button-block button-balanced"/>
      </form>

      <div class="alternative-actions">
        <a class="log-in button button-small button-clear button-balanced" ui-sref="intro.login">
          Log In
        </a>
        <a class="sign-up button button-small button-clear button-balanced" ui-sref="intro.walkthrough-learn">
          Sign Up
        </a>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
</ion-content>
</ion-view>
