<ion-view view-title="" hide-back-button="true">
  <ion-nav-view class="auth-outer">
	<div style="border-radius: 10px;" width="600" length="800" ng-src="img/bg-gif.jpg"></div>
	<!-- <div multi-bg="['img/bg-img.jpg']"></div> -->
  </ion-nav-view>

  <ion-nav-bar class="bar-assertive" align-title="center">
        <ion-nav-title >
            Login
          </ion-nav-title>
  </ion-nav-bar>
        <ion-content class="padding-top">

      <div class="row">
      <div class="col col-center">
      <div class="card login-container" content-tabs tabsdata='tabsdata'>

          <form novalidate name="loginForm" ng-submit="loginForm.$valid && signIn(user)">
          <div class="list">
            <label class="item item-input item-floating-label" ng-class="{ 'has-error' : loginForm.txtemail.$invalid && loginForm.$submitted }">
              <span class="input-label">Email</span>
              <input name="txtemail" type="email" ng-model="user.email" placeholder="Email" required>
            </label>
            <!-- Edit this messages if you want -->
            <div class="form-errors" ng-messages="loginForm.txtemail.$error" ng-if="loginForm.$submitted">
            <div class="form-error" ng-message="required">Email is required</div>
            <div class="form-error" ng-message="email">Email not recognized.</div>

            </div>
            <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : loginForm.txtPassword.$invalid && loginForm.$submitted }">
              <span class="input-label">Password</span>
              <input name="txtPassword" type="password" ng-model="user.password" placeholder="Password"
              ng-minlength="5"
              ng-maxlength="30"
              required>
            </label>
            <!-- Edit this messages if you want -->
            <div class="form-errors" ng-messages="loginForm.txtPassword.$error" ng-if="loginForm.$submitted">
            <div class="form-error" ng-message="required">Password required</div>
            <div class="form-error" ng-message="minlength">Minimum length for password is 5 characters. </div>
            <div class="form-error" ng-message="maxlength">Minimum length for password is 25 characters.</div>
            </div>
          </div>
          <div class="padding-top">
            <input type="submit" class="button button-block button-balanced" value="Login">
            <p class="text-center padding-top">
                <a href="#/forgot" class="button button-clear button-balanced">Forgot</a><a href="#/register" class="button button-clear button-balanced">Sign up</a>
            </p>
            <!--
            <p class="text-center padding">
              Login with:
                <i ng-click="loginWithFacebook()" class="icon padding medium ion-social-facebook positive"></i><i ng-click="loginWithGoogle()" class="icon padding medium ion-social-google positive"></i><i ng-click="loginWithTwitter()" class="icon padding medium ion-social-twitter positive"></i>
            </p>
            -->
          </div>
        </form>
        </ion-content>
</ion-view>
