<ion-view class="signup-view auth-view" cache-view="false">
  <ion-nav-view class="auth-outer">
	<div style="border-radius: 10px;" width="600" length="800" ng-src="img/bg-gif.jpg"></div>
	<!-- <div multi-bg="['img/bg-img.jpg']"></div> -->
</ion-nav-view>
  <ion-content scroll="false">
    <div class="row">
    <div class="col col-center">
    <div class="card sign-up-container">
    <form name="registerForm" novalidate ng-submit="registerForm.$valid && register(user)"
    ng-class="{ 'has-error' : registerForm.txtemail.$invalid && registerForm.$submitted }">
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label"> Email </span>
          <input name="txtemail" type="email" ng-model="user.email" placeholder="Email" required>
        </label>

      <div class="form-errors" ng-messages="registerForm.txtemail.$error" ng-if="registerForm.$submitted">
        <div class="form-error" ng-message="required"> Email Required</div>
        <div class="form-error" ng-message="email"> This field must be an email </div>
      </div>
        <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : registerForm.txtpassword.$invalid  && registerForm.$submitted}">
        <span class="input-label"> Password </span>
        <input name="txtpassword" type="password" ng-model="user.password" placeholder="Password "
        ng-minlength="5"
        ng-maxlength="25"
        required>
      </label>

    <div class="form-errors" ng-messages="registerForm.txtpassword.$error" ng-if="registerForm.$submitted">
      <div class="form-error" ng-message="required"> Password is Required </div>
      <div class="form-error" ng-message="minlength"> Minimum Length is 5 characters </div>
      <div class="form-error" ng-message="maxlength"> Maximum Length is 5 characters </div>
      <div class="form-error" ng-message="pattern"> Choose a less obvious pattern </div>
    </div>
  </div>


    <div class="padding-top">
      <input type="submit" value="Register" class="button button-block button-assertive"/>
    </div>
  </form>
      <div class="alternative-actions">
          <a class="log-in button button-small button-clear button-assertive" ui-sref="intro.login">
            Log In
          </a>
      </div>
      </div>
      </div>
    </div>
      </ion-content>
</ion-view>
