<!-- second view listing categories under parties-->
<ion-view class="category-feeds-view pane">
  <div multi-bg="['img/background.jpg']"></div>
  <ion-nav-title>
    <span>{{categoryTitle}} Feeds</span>
  </ion-nav-title>
  <ion-content  scroll="false">
    <div class="list category-feeds">
      <a ng-repeat="source in category_sources" class="item item-icon-right" ui-sref="app.events_in_subcategories({categoryId: categoryId, sourceId: (source.title | slugify)})">
        <div class="thumbnail-outer">
          <pre-img ratio="_1_1" helper-class="">
            <img class="thumbnail" ng-src="{{source.image}}" spinner-on-load>
          </pre-img>
        </div>
        <div>
          <span class="title">{{source.title}}</span>
          <p class="description">{{source.description}}</p>
        </div>
        <i class="icon ion-arrow-right-c"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
