<!-- 4th view shows the evnt details-->
<ion-view class="feeds-categories-view pane">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>{{categoryTitle}} Feeds</span>
  </ion-nav-title>
  <ion-content>
    <div class="row categories-list">
      <div ng-repeat="subcategory in category_sources" class="col col-50">
        <a class="feed-category" ui-sref="app.subcategories({categoryId: categoryId, sourceId: (source.title | slugifyy)})">
          <pre-img ratio="_1_1" helper-class="square-image">
              <img class="thumbnail" ng-src="{{source.image}}" spinner-on-load>
          </pre-img>
          <span class="title">{{source.title}}</span>
          <p class="description">{{source.description}}</p>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
