<!-- 4th view listiing individual events-->

<ion-view class="bookmarks-view">
  <ion-nav-title>
    <span>My Events</span>
  </ion-nav-title>
  <div multi-bg="['img/background.jpg']"></div>
  <ion-content>
    <div class="card" ng-repeat="eventDescription in list" id="{{item.key}}" >
        <div class="item item-text-wrap">
          <span>{{ eventDescription.title }}</span>
          <br/>  <br/>
          <p class="actions padding">
            <i class="ion-checkmark-circled icon-actions margin" ng-click="markCompleted('{{item.key}}')"></i>
            <i class="ion-trash-b icon-actions margin" ng-click="deleteItem('{{item.key}}')"></i>
          </p>
        </div>
      </div>
      <div class="card" >
        <div class="item item-text-wrap" ng-show="noData">
          <span>
          You have not posted any events.
          </span>
          <!-- Click  <a href="javascript:" ng-click="newTask()">Here</a> and create one. -->
        </div>
      </div>
  </ion-content>
</ion-view>
