<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar app-top-bar">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
    <ion-content>
      <ion-list>
        <ion-item class="heading-item item item-avatar" nav-clear menu-close ui-sref="app.profile">
          <div class="user-image-container">
            <pre-img ratio="_1_1" helper-class="rounded-image">
              <img class="user-image" ng-src="img/profile.jpg" spinner-on-load>
          	</pre-img>
          </div>
          <h2 class="greeting">Hi!</h2>
          <p class="message">Welcome back</p>
        </ion-item>
          <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.categories">
          <i class="icon ion-paper-airplane"></i>
          <h2 class="menu-text">Browse</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.maps">
          <i class="icon ion-map"></i>
          <h2 class="menu-text">Maps</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.bookmarks">
          <i class="icon ion-android-favorite"></i>
          <h2 class="menu-text">Favorites</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.forms">
          <i class="icon ion-android-create"></i>
          <h2 class="menu-text">Create Events</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.myevents">
          <i class="icon ion-pricetag"></i>
          <h2 class="menu-text">My Events</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.support">
          <i class="icon ion-help-circled"></i>
          <h2 class="menu-text">Customer Support</h2>
        </ion-item>
<!--        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.miscellaneous">-->
<!--          <i class="icon ion-ribbon-b"></i>-->
<!--        <h2 class="menu-text">Promotions</h2>-->
<!--        </ion-item> -->
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.settings">
          <i class="icon ion-gear-b"></i>
          <h2 class="menu-text">Settings</h2>
        </ion-item>

<!--        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.settings"> -->
<!--          <i class="icon ion-information-circled"></i> -->
<!--          <h2 class="menu-text">About</h2> -->
<!--        </ion-item> -->
    </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
