<!-- third view listing available events in Specific feed (football)-->
<ion-view class="category-feeds-view">
  <div multi-bg="['img/background.jpg']"></div>
  <ion-nav-title>
    <span>{{categoryTitle}} Feeds</span>
  </ion-nav-title>
  <ion-content background>
    <form name="form.search" ng-submit="form.search.$valid && goToList()">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="search.string" required="required" placeholder="City, District or Event Name">
      </label>
      <button class="button button-assertive button-block" ng-disabled="form.search.$invalid"><b>Search</b></button>
    </form>
    <ion-list>
      <ion-item class="item-icon-right item-avatar item-royal" ui-sref="app.lists({id: event.id})" ng-repeat="event in events track by event.id | limitTo:limit">
        <img ng-src="{{event.thumb}}">
        <h2 class="balanced">{{event.name}}</h2>
        <p>
          <b>{{event.city}}</b> / District {{event.district}}<br>
          {{event.street}} {{event.number}}, {{event.zip}} {{event.city}}
        </p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="text-center item-royal" ng-if="events && !events.length">No events found :(</ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="!events"
      on-infinite="loadNext()">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
