<ion-view class="walkthrough-view" cache-view="false">
  	<div style="border-radius: 10px;" width="600" length="800" ng-src="img/bg-gif.jpg"></div>
	<!-- <div multi-bg="['img/bg-img.jpg']"></div> -->
    <ion-content scroll="false">
    <div class="top-content row">
    </div>
    <div class="bottom-content row">
        <a class="login button button-block button-balanced" ui-sref="intro.login">
          Log In
        </a>
        <a class="sign-up button button-block button-stable" ui-sref="auth.register">
          Sign Up
        </a>
    </div>
  </ion-content>
</ion-view>
