<ion-view class="settings-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Settings</span>
  </ion-nav-title>
  <ion-content>
    <ul class="list">
        <div class="item item-divider">About</div>
          <p class="text-wrap"> Welcome to DMV Social. We are an events platform dedicated to bringing all events and activities in the DMV together in one place. Through our mobile app, we enable people all over the world to create, discover, share and register for events.</p>
          <p class="text-wrap"> DMV Social thrives to make this events platform available to everyone and as such we do not monitor the events that are posted. Users are responsible for the events that they choose to attend and Promoters are responsible for the individuals that choose to attend their events. </p>
      <div class="item item-divider">DMV Social</div>
        <p> Version 1.0 </p>
      <button class="button button-block button-assertive" ng-click="logOut()">
        Logout
      </button>
    </ul>
  </ion-content>
</ion-view>
