<ion-view class="forms-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Create an Event</span>
  </ion-nav-title>
  <ion-content ng-controller='formsCtrl'>
    <div class="item item-divider">Event Details</div>

      <label class="item item-input item-floating-label">
        <span class="input-label">Event Title</span>
        <input type="text" id="title" placeholder="Event Title">
      </label>

      <label class="button button-block button-stable" ng-click="openImagePicker()">
        <span> Add Event Image </span>
        <button  ng-show="images.length > 0" class="button button-block button-stable" ng-click="shareAll()">
          Add All
        </button>
        <div class="list card" ng-repeat="img in images">
          <div class="item item-image">
            <img ng-src="{{img}}">
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <div class="tab-item image-option" ng-click="shareImage(img)">
              <i class="icon ion-ios-plus-outline"></i>
              Add
            </div>
            <div class="tab-item assertive image-option" ng-click="removeImage(img)">
              <i class="icon ion-trash-a assertive"></i>
              Remove
            </div>
          </div>
        </div>
        <input type="file" id="img" accept="image/*">
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Event Title</span>
        <input type="text" id="title" placeholder="Event Title">
      </label>


      <label class="item item-input item-stacked-label">
        <span class="input-label">Event Date</span>
        <input type="date" id="date" placeholder="Event Date">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Event Time</span>
        <input type="time" id="time" placeholder="Event Time">
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Location</span>
        <input class="js-location-input-new"  Type="text" id="map" placeholder="Location">
      </label>

      <label class="item item-input item-select" id="type">
          <div class="input-label">
              Type of Event
          </div>
          <select>
            <option selected>Club Events</option>
            <option>House Parties</option>
            <option>Kickbacks</option>
            <option>College Parties</option>
            <option>Turnups</option>
            <option>Frat Parties</option>
            <option>Festivals</option>
            <option>Parades</option>
            <option>Indoor Events</option>
            <option>Outdoor Events</option>
            <option>Pop Ups</option>
            <option>Musicals</option>
            <option>Live Events</option>
            <option>Painting & Art</option>
            <option>Poetry & Spoken Word</option>
            <option>Performing Arts</option>
            <option>Art, Music & Dinner</option>
            <option>Football</option>
            <option>Basketball</option>
            <option>Ice Hockey</option>
            <option>Soccer</option>
            <option>Boxing</option>
            <option>Tennis</option>
            <option>Baseball</option>
            <option>Concerts</option>
            <option>Karaoke</option>
            <option>Sightseeing</option>
            <option>Museums</option>
            <option>Landmarks</option>
            <option>Exhibits</option>
          </select>
        </label>


        <label class="item item-input item-floating-label">
          <span class="input-label">Contact Number</span>
          <input type="number" placeholder="Contact Number" id="number">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Contact Email</span>
          <input type="email" placeholder="Contact Email" id="email">
        </label>

    <button class="button button-assertive" ng-click="createNew()">
          Submit
    </button>

  </ion-content>
</ion-view>
